<h3>Productos</h3>

{{#each products}}
<ul>
    <li>ID: {{this.id}}</li>
    <li>Nombre: {{this.title}}</li>
    <li>Codigo: {{this.code}}</li>
    <li>Precio: {{this.price}}</li>
    <li>Categoria: {{this.category}}</li>
    <li>Stock: {{this.stock}}</li>
</ul>
{{/each}}
